:root {
  --main-green: #66cc00; /* Main color */
  --dark-green: #00665e; /* Darker shade of green */
  --light-green: #99ff33; /* Lighter shade of green */
  --light-teal: #4aa69e
  --soil-color: #ff9933; /* Soil color */
  --hover-green: #00ff66; /* Hover color */
}
